repos:
  - repo: https://github.com/dluksza/flutter-analyze-pre-commit
    rev: 4afcaa82fc368d40d486256bf4edba329bf667bb
    hooks:
      # Run format first, quickest operation
      - id: dart-format
        exclude: "lib/gen/.*"
        args:
          - "-l 120"

      - id: flutter-analyze
        exclude: "lib/gen/.*"
        args:
          - clients/sidesail/lib/*
