name: bitwindow
description:
  "A frontend for interacting with a Drivechain-enabled layer 1 bitcoin network."
publish_to: "none"

version: 0.0.191

environment:
  sdk: 3.11.0
  flutter: 3.41.1

dependencies:
  flutter:
    sdk: flutter
  file_picker: ^10.3.7
  fl_chart: ^1.1.1
  printing: ^5.14.2
  pdf: ^3.11.3

  dart_coin_rpc:
    git:
      url: https://github.com/barebitcoin/dart_coin_rpc.git
      # master, as of 08.06.2024
      ref: ab0b7cb2de6e1634a6e65892770ed0d157d38443
  dio: 5.9.0
  stacked: ^3.5.0
  qr_flutter: ^4.1.0
  http: ^1.6.0
  intl: ^0.20.2
  cupertino_icons: ^1.0.8
  collection: ^1.19.1
  path_provider: ^2.1.5
  sail_ui:
    path: ../sail_ui
  logger: ^2.6.2
  google_fonts: ^8.0.0
  auto_route: ^11.1.0
  fixnum: ^1.1.1
  get_it: ^8.3.0
  meta: ^1.17.0
  protobuf: ^4.2.0
  dotted_border: ^3.1.0
  window_manager: ^0.5.1
  synchronized: ^3.4.0
  skeletonizer: ^2.1.1
  flutter_markdown: ^0.7.7+1
  path: ^1.9.1
  url_launcher: ^6.3.2
  pointycastle: ^3.9.1
  crypto: ^3.0.7
  thirds: ^0.2.0-alpha.1
  encrypt: ^5.0.3
  connectrpc: ^1.0.0
  desktop_multi_window:
    git:
      url: https://github.com/octobocto/flutter-plugins.git
      ref: 252f3f7910288500039c39ae2b944622a0e55152
      path: packages/desktop_multi_window
  convert: ^3.1.2
  bip39_mnemonic: ^4.0.1
  dart_bip32_bip44: ^0.2.0
  bs58: ^1.0.2
  auto_updater: ^1.0.0
  bitcoin_base: ^7.0.0
  blockchain_utils: ^5.4.0
  bech32: ^0.2.2
  archive: ^4.0.7
  csv: ^6.0.0
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  custom_lint: ^0.8.0
  drivechain_lints:
    path: ../drivechain_lints
  auto_route_generator: ^10.4.0
  build_runner: ^2.10.4
  flutter_launcher_icons: ^0.14.4

flutter_launcher_icons:
  windows:
    generate: true
    image_path: "assets/bitwindow.png"
    icon_size: 256
  macos:
    generate: true
  image_path: "assets/bitwindow.png"

flutter:
  uses-material-design: true

  assets:
    - assets/bin/
    - assets/articles/
    - assets/articles/beginner/
    - assets/articles/images/
    - assets/bitwindow.png

  fonts:
    - family: Inter
      fonts:
        - asset: ./assets/fonts/Inter-ExtraLight.ttf
          weight: 200
        - asset: ./assets/fonts/Inter-Light.ttf
          weight: 300
        - asset: ./assets/fonts/Inter-Regular.ttf
          weight: 400
        - asset: ./assets/fonts/Inter-Medium.ttf
          weight: 500
        - asset: ./assets/fonts/Inter-Bold.ttf
          weight: 600
        - asset: ./assets/fonts/Inter-Black.ttf
          weight: 700

    - family: IBMPlexMono
      fonts:
        - asset: ./assets/fonts/IBMPlexMono-ExtraLight.ttf
          weight: 200
        - asset: ./assets/fonts/IBMPlexMono-Light.ttf
          weight: 300
        - asset: ./assets/fonts/IBMPlexMono-Regular.ttf
          weight: 400
        - asset: ./assets/fonts/IBMPlexMono-Medium.ttf
          weight: 500
        - asset: ./assets/fonts/IBMPlexMono-Bold.ttf
          weight: 600

        - asset: ./assets/fonts/IBMPlexMono-ExtraLightItalic.ttf
          style: italic
          weight: 200
        - asset: ./assets/fonts/IBMPlexMono-LightItalic.ttf
          style: italic
          weight: 300
        - asset: ./assets/fonts/IBMPlexMono-Italic.ttf
          style: italic
          weight: 400
        - asset: ./assets/fonts/IBMPlexMono-MediumItalic.ttf
          style: italic
          weight: 500
        - asset: ./assets/fonts/IBMPlexMono-BoldItalic.ttf
          style: italic
          weight: 600
        - asset: ./assets/fonts/IBMPlexMono-BoldItalic.ttf
          style: italic
          weight: 600

# Windows release stuff.
# CI has a certificate.pfx we use to sign the build with
# https://pub.dev/packages/msix
msix_config:
  display_name: BitWindows
  languages: en-us
  windows_build_args: --dart-define-from-file=build-vars.env
  publisher: CN=DE47B41F-F9FE-43D5-9243-DB15A080F621
  publisher_display_name: LayerTwo Labs
  identity_name: 10520LayertwoLabs.BitWindows
  msix_version: 1.0.0.0
  logo_path: windows/runner/resources/app_icon.ico
  capabilities: internetClient,internetClientServer
  os_min_version: 10.0.17763.0
  store: false
  install_certificate: false
  sign_msix: true
