name: Dart

on:
  pull_request:
    paths:
      - "clients/sail_ui/**"
      - "clients/sidesail/**"
      - "clients/bitwindow/**"
      - "clients/faucet/**"
      - "clients/launcher/**"
      - ".github/workflows/**"

jobs:
  format-lint-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [sail_ui, sidesail, bitwindow, faucet, launcher]

    defaults:
      run:
        working-directory: clients/${{ matrix.package }}

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2

      - uses: dart-lang/setup-dart@v1

      - name: Install dependencies for ${{ matrix.package }}
        run: flutter pub get

      - name: Create necessary directories
        if: matrix.package == 'sidesail'
        run: |
          mkdir -p bins
          mkdir -p assets/bin

      - name: Verify formatting for ${{ matrix.package }}
        run:
          find . -name "*.dart" -not -path "./lib/gen/*" | xargs dart format -l
          120

      - name: Analyze project source for ${{ matrix.package }}
        run: dart analyze

      - name: Look for fixable lint issues for ${{ matrix.package }}
        run: |
          FIXES=$(dart fix --dry-run)
          if [[ "$FIXES" != *"Nothing to fix!"* ]]; then
            echo "Fixable issues found. Run 'dart fix --apply' locally and commit changes."
            echo "$FIXES"
            exit 1
          fi

      - name: Run tests for ${{ matrix.package }}
        run: |
          if [ ${{ matrix.package }} == 'faucet' ]; then
            TEST_ARGS="--platform chrome"
          fi

          if [ -d "test" ]; then
            flutter test $TEST_ARGS
          else
            echo "Test directory not found. Skipping tests."
          fi
