name: Faucet

on:
  push:
    branches: [master]
    paths:
      - "faucet/**"
      - ".github/workflows/**"
  pull_request:
    branches: [master]
    paths:
      - "faucet/**"
      - ".github/workflows/**"

jobs:
  web-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
        working-directory: faucet
      - run: bun run format:check
        working-directory: faucet

  web-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: biomejs/setup-biome@v2
        with:
          working-directory: faucet
      - name: Run Biome
        run: biome ci
        working-directory: faucet

  web-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
        working-directory: faucet
      - run: bun run build
        working-directory: faucet

  go-lint:
    name: go-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: faucet/server
          version: latest

  go-build:
    name: go-build
    runs-on: ubuntu-latest
    steps:
      - uses: extractions/setup-just@v1
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - run: just build
        working-directory: faucet/server

  # Build and push ALL events. We'll make sure to give the images
  # sensible tags, so there's no confusion around what's 'dev' builds
  # through PRs, and what's proper 'master' builds.
  #
  # Official GitHub docs on this: https://docs.github.com/en/actions/use-cases-and-examples/publishing-packages/publishing-docker-images
  build-push-docker:
    runs-on: ubuntu-latest-large
    strategy:
      matrix:
        # not able to deduce how to configure the Next.js server
        # at runtime. have to bake in the env vars at build time?
        service: [frontend-signet-server, frontend-forknet-server, backend]
        # Wonky: due to the way we're doing image name
        # constructions in our Docker Compose setup for the signet
        # and forknet servers, we suffix the image names with -server.
        include:
          - service: frontend-signet-server
            dockerfile: Dockerfile
            build-args: NETWORK=signet
            context: .
          - service: frontend-forknet-server
            dockerfile: Dockerfile
            build-args: NETWORK=forknet
            context: .
          - service: backend
            dockerfile: ./server/Dockerfile
            context: ./server

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/faucet-${{ matrix.service }}
          tags: |
            type=sha,event=push
            type=ref,event=pr
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build (and maybe push) Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./faucet/${{ matrix.context }}
          file: ./faucet/${{ matrix.dockerfile }}
          #prettier-ignore
          push: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository }}
          #prettier-ignore
          tags: ${{ steps.meta.outputs.tags }}
          build-args: ${{ matrix.build-args }}
          #prettier-ignore
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/faucet-${{ matrix.service }}:latest
          cache-to: type=inline
